<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
<body style="background-color: #363062">
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #F5E8C7;">
            <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'djangoapp:index' %}">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'djangoapp:about' %}">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact</a>
                </li>
                </ul>
    
                {% if user.is_authenticated %}
                  <div class="ml-auto">
                    <span class="mr-2">{{ user.first_name }}({{ user.username }})</span>
                    <a href="{% url 'djangoapp:logout' %}">Log out</a>
                  </div>
                  {% else %}
                  <form class="form-inline ml-auto" action="{% url 'djangoapp:login' %}" method="post">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username" required>
                    <input class="form-control mr-sm-2" type="password" placeholder="Password" name="psw" required>
                    <button class="btn btn-primary my-2 my-sm-0 mr-2" type="submit">Login</button>
                    <a class="btn btn-outline-primary my-2 my-sm-0"  href="{% url 'djangoapp:registration' %}">Sign Up</a>
                  </form>
                {% endif %}
                
              
            </div>
          </nav>
        <main role="main" class="d-flex justify-content-center pt-3 ">
            <form class="border border-dark p-4 w-auto h-auto text-center bg-light" action="{% url 'djangoapp:add_review' dealer.0.id %}"  method="post">
                {% csrf_token %}
                
                <h1 class="text-center">Review for {{dealer.0.short_name}} Car Dealership</h1><br>
                <label for="name"><b>Name</b></label>
                <br>
                <input class="form-control" type="text" placeholder="Enter Your Name: " name="name" required>
                <label for="content"><b>Review</b></label>
                <br>
                <textarea class="form-control" id="content" name="content" rows="2" required placeholder="Write your review here: "></textarea>
                <br>
                <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                <label for="purchasecheck"><b>Did your purchase from this dealership?</b></label>
                <br>
                <label for="car"><b>Select vehicle (if purchased)</b></label>
                <br>
                <select name="car" id="car" class="form-select" required>
                    {% for car in cars %}
                        <option selected value="{{car.make.name}}|{{car.name}}|{{ car.year|date:'Y' }}">{{ car.year|date:"Y" }} {{car.make.name}} {{car.name}}</option>
                    {% endfor %}
                </select>
                
                <br>
                <label for="purchase_date"><b>When was this purchased?</b></label>
                <input class="date-own form-control" type="date" name="purchase_date" id="purchase_date">
                <br>
                <button class="btn btn-warning btn-lg" type="submit">Submit Review</button>
            </form>
        </main>
    </body>
</html>